/* base styles */
/* 1 */
header {
    background-color: #789379;
    display: flex;
    align-items: center;
    justify-content: space-between; /* optional: spreads h1 and nav */
    padding: 10px 0;
    margin: 15px 5px;
    border-radius: 10px;
    position: sticky;
    top: 15px;
}

/* 2 */
body {
    background-color: #c1b8b5;
    color: #2d2d2b;
    font-family: tahoma, sans-serif;
    margin: 0;
    padding: 0px;
}

/* 3, 4 */
nav a, nav a:visited {
    padding: 10px;
    margin: 10px;
    color: #201e1f;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/* 5 */
nav a:hover {
    background-color: #536a54;
    color: white;
    border-radius: 5px;
}

/* 6 */
section {
    background-color: rgb(229, 228, 226);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

/* 7, 8, 9*/
h1, h2, h3 {
    color: #2d2d2e;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

/* 10 */
p {
    color: #2d2d2e;
}

/* 11 */
img {
   margin: 5px;
}

/* 12 */
table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

/* 13 */
thead {
    background-color: #789379;
    color: white;
}

/* 14, 15 */
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

/* 16, 17, 18 */

form, label, input {
    margin: 0 auto;
    width: 50%;
    padding: 5px;
    margin-bottom: 10px
}

/* 19, 20 */
select, textarea {
    margin-bottom: 10px;
}

/* ids and classes */

/* 21 */
.social{
    text-align: left;
    margin: 0 auto;
    font: 20px;
}

/* 22 */ 
#navhead a {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    margin-left: 15px;
    color: #201e1f;
    text-decoration: none;
}

/* 23 */
.titleimg {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* 24*/

.contentwrap {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px; /* Adjust as needed */
}

/* 25 */
.citations {
    clear: both;
    font-style: italic
}

.clearfloats {
    clear: both;
}