/* base styles */
/* 1 */
header {
    background-color: #789379;
    display: flex;
    align-items: center;
    justify-content: space-between; /* optional: spreads h1 and nav */
    padding: 10px 0;
    margin: 15px 5px;
    border-radius: 10px;
}

/* 2 */
body {
    background-color: #c1b8b5;
    color: #2d2d2b;
    font-family: tahoma, sans-serif;
    margin: 0;
    padding: 0px;
}

/* 3 */
nav {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* 4 */
section {
    background-color: rgb(229, 228, 226);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

/* 5, 6, 7*/
h1, h2, h3 {
    color: #2d2d2e;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

/* 8 */
p {
    color: #2d2d2e;
}

/* 9 */
img {
   margin: 5px;
}

/* 10 */
table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

/* 11 */
thead {
    background-color: #789379;
    color: white;
}

/* 12, 13 */
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
}

/* 14, 15, 16 */

form, label, input {
    margin: 0 auto;
    width: 50%;
    padding: 5px;
    margin-bottom: 10px
}

/* 17, 18 */
select, textarea {
    margin-bottom: 10px;
}

/* special */

/* 19 */
h1 {
    font-family: 'Brush Script MT', cursive;
}

/* ids and classes */

.social{
    text-align: left;
    margin: 0 auto;
    font: 20px;
}
